<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">Comment</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
      <% @comments.each do |p| %>
        <tr>
          
          <td><%= p.name %></td>
          <td><%= p.body %></td>
          <td><td><%= p.created_at.strftime("%b, %d, %Y") %></td></td>
        </tr>
      <% end %>
  </tbody>
</table>