<h5>The Required Images are given below:</h5>
<p><%=@image.image.url%></p>
<%= image_tag @image.image.url %>
<br>
<br>
<h5>View Comments</h5>
<%= render partial: "comments/comments", locals: {commentable: @image} %>
<h5>Add New Comments</h5>
<%= render partial: "comments/form", locals: {commentable: @image} %>
