<h5>The Required Images are given below:</h5>
<p><%=@image.image.url%></p>
<%= image_tag @image.image.url %>
<br>
<br>
<h5>View Comments</h5>
<% @image.comments.each do |p|%>
	<%= p.name%>
	<%= p.body%>
<% end %>